[Desktop Entry]
Categories=Qt;KDE;
Comment=
GenericName=Frontend for the symmetric encryption functionality of GPG
GenericName[ast]=Frontal pa la funcionalidá de cifráu simétricu de GPG
GenericName[ca]=Frontal per a la funcionalitat d'encriptatge simètric del GPG
GenericName[ca@valencia]=Frontal per a la funcionalitat d'encriptatge simètric del GPG
GenericName[cs]=Rozhraní pro symetrickou funkčnost šifrování GPG
GenericName[de]=Benutzeroberfläche für die symmetrische GPG-Verschlüsselung
GenericName[el]=Περιβάλλον χρήσης για τη λειτουργία συμμετρικής κρυπτογραφίας του GPG
GenericName[en_GB]=Frontend for the symmetric encryption functionality of GPG
GenericName[es]=Interfaz para la funcionalidad de cifrado simétrico de GPG
GenericName[et]=GPG sümmeetrilise krüptimise võimaluse kasutajaliides
GenericName[fi]=GPG:n symmetrisen salauksen käyttöliittymä
GenericName[fr]=Interface pour les fonctionnalités de chiffrement symétrique de GPG
GenericName[gl]=Interface para a funcionalidade de cifrado simétrico de GPG
GenericName[it]=Interfaccia per la funzionalità di cifratura simmetrica di GPG
GenericName[ko]=GPG의 대칭 암호화 기능 프론트엔드
GenericName[lt]=GPG simetrinio šifravimo funkcionalumo naudotojo sąsaja
GenericName[nl]=Frontend voor de symmetrische versleutelingsfunctionaliteit van GPG
GenericName[pl]=Nakładka do funkcjonalności symetrycznego szyfrowania GPG
GenericName[pt]=Interface para a funcionalidade de cifra simétrica do GPG
GenericName[pt_BR]=Interface para a funcionalidade de criptografia simétrica do GPG
GenericName[sk]=Frontend pre dynamické šifrovanie GPG
GenericName[sl]=Začelje za simetrično šifriranje funkcionalnosti GPG
GenericName[sv]=Gränssnitt för den symmetriska krypteringsfunktionaliteten i GPG
GenericName[uk]=Оболонка до можливостей з симетричного шифрування у GPG
GenericName[x-test]=xxFrontend for the symmetric encryption functionality of GPGxx
GenericName[zh_TW]=GPG 對稱加密功能前端
Icon=security-high
Name=Symmy
Name[ast]=Symmy
Name[ca]=Symmy
Name[ca@valencia]=Symmy
Name[cs]=Symmy
Name[de]=Symmy
Name[el]=Symmy
Name[en_GB]=Symmy
Name[es]=Symmy
Name[et]=Symmy
Name[fi]=Symmy
Name[fr]=Symmy
Name[gl]=Symmy
Name[it]=Symmy
Name[ko]=Symmy
Name[lt]=Symmy
Name[nl]=Symmy
Name[pl]=Symmy
Name[pt]=Symmy
Name[pt_BR]=Symmy
Name[sk]=Symmy
Name[sl]=Symmy
Name[sv]=Symmy
Name[uk]=Symmy
Name[x-test]=xxSymmyxx
Name[zh_TW]=Symmy
StartupNotify=false
Terminal=false
Type=Application
