[Desktop Entry]
Categories=Qt;KDE;
Comment=
GenericName=Frontend for the symmetric encryption functionality of GPG
GenericName[ca]=Frontal per a la funcionalitat d'encriptatge simètric del GPG
GenericName[ca@valencia]=Frontal per a la funcionalitat d'encriptatge simètric del GPG
GenericName[nl]=Frontend voor de symmetrische versleutelingsfunctionaliteit van GPG
GenericName[sv]=Gränssnitt för den symmetriska krypteringsfunktionaliteten i GPG
GenericName[uk]=Оболонка до можливостей з симетричного шифрування у GPG
GenericName[x-test]=xxFrontend for the symmetric encryption functionality of GPGxx
Icon=security-high
Name=Symmy
Name[ca]=Symmy
Name[ca@valencia]=Symmy
Name[nl]=Symmy
Name[sv]=Symmy
Name[uk]=Symmy
Name[x-test]=xxSymmyxx
StartupNotify=false
Terminal=false
Type=Application
